.main {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 0.5rem;
}


